* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:rgb(241, 241, 235);
}

.main {
    width: 1000px;
    box-shadow: 4px 4px 4px lightgray;
    height: 95vh;
    border-radius: 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.canvas {
    width: 560px;
    height: 560px;
    border: 0.5px solid lightgrey;
}

.row {
    display: flex;
}

.cell {
    border: 0.5px solid lightgrey;
}


.handlers {
    height: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

button {
    padding: 1em 3em;
    border: none;
    text-transform: uppercase;
}

button:hover {
    opacity: 0.8;
    box-shadow: 0 4px 4px lightgray;
}



.canvas-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
}